@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply text-primaryBlue border-2 border-iconBorder rounded-3xl p-1 hover:bg-primaryBlue hover:text-white;
  }
}

body {
  margin: 0;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: "Libre Franklin", sans-serif;

}

.dashboard {
  width: 450px;
  padding-top: 40px;
}